@model HospBack.DB.Visit

День: @Model.VisitDate.ToString("dd/MM") <br />
Время: @Model.VisitDate.ToString("HH/mm") <br />
Врач: @Model.Doctor.Surname &nbsp; @Model.Doctor.Name <br />
Специальность: @Model.Doctor.DoctorTypeNavigation.Type <br />

<form method="post" action="/visit/delete">
    <input hidden name="Id" value="@Model.Id" />
    <button type="submit">Отменить запись</button>
</form>